<div class="header" flex="dir:left">
  <div class="header-left-sides" flex="dir:left cross:center">
    <div class="pack-btn" (click)="handleSwitchPack()">
      <i class="iconfont icon-menu"></i>
    </div>
    <img routerLink="/" class="logo" src="assets/images/logo.png" alt="">
  </div>
  <div class="search-input rel" flex-box="1" flex="dir:left cross:center">
    <input #searchBox [(ngModel)]="keyword" (input)="handleSearch()" (keyup.enter)="handleKeyEnter($event)" type="text" placeholder="搜索">
    <ul #searchResult [hidden]="!shouldBeShow" class="search-result" (clickOutside)="onClickedOutside($event)">
      <li class="t-ellip" (click)="handleJump(item._id)" *ngFor="let item of searchResult$ | async; let index = index;">
        {{index + 1}}. {{item.name}}
      </li>
    </ul>

  </div>
  <div class="header-right-sides">

  </div>
</div>
