.video-player-warp {
  height: 520px;
  width: 100%;
}

.video-player {
  height: 100%;
  width: 100%;
  display: block;
}

.next-mask {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1994;
  background-color: rgba(0, 0, 0, .7);
}

.next-tip {
  margin-top: 10px;
  color: #fff;
}

.download-control {
  font-size: 12px;
  padding: 3px 20px;
  border-radius: 5px;
  background-color: #F24554;
  color: #fff;
  cursor: pointer;
}

.download-control-info {
  margin-left: 20px;
  font-size: 12px;
  color: #4f5b5f;
}

.main-title {
  height: 60px;
  line-height: 60px;
  text-indent: 20px;
  font-size: 20px;
  color: #0af;
}

.detail-introduction {
  padding: 0 20px 20px 20px;
  box-sizing: border-box;
}

.video-name {
  font-size: 18px;
  font-weight: 400;
  color: #333;
}

.video-classify-name {
  font-size: 16px;
  font-weight: 400;
  color: #666;
}

.video-sub-introduce {
  font-size: 16px;
  color: #666;
  margin-top: 0;
}

.video-btn-wrapper {
  margin: 0;
  padding: 0 20px;
  box-sizing: border-box;
  list-style: none;
  flex-wrap: wrap;
  max-height: 400px;
  overflow: auto;
}

.video-btn {
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  background-color: #ccc;
  border-radius: 4px;
  margin-left: 10px;
  cursor: pointer;
  color: #333;
  transition: .3s;
  margin-bottom: 10px;

  &.active {
    color: #fff;
    background-color: #0af;
  }
}

.video-number {
  font-size: 18px;
  font-weight: bold;
  color: red;
}

@media screen and (max-width: 1000px) {
  .video-btn-wrapper {
    max-height: 300px;
  }
  .video-player-warp {
    height: 400px;
  }
}

@media screen and (max-width: 1000px) {
  .video-btn-wrapper {
    max-height: 300px;
  }
  .video-player-warp {
    height: 400px;
  }
  //.video-playlist {
  //  display: none;
  //}
}

@media screen and (max-width: 800px) {
  .video-btn-wrapper {
    max-height: 200px;
  }
  .video-player-warp {
    height: 400px;
  }

}

@media screen and (max-width: 600px) {
  .video-btn-wrapper {
    max-height: 100px;
  }
  .video-player-warp {
    height: 300px;
  }
}

@media screen and (max-width: 400px) {
  .video-player-warp {
    height: 220px;
  }
}

.open-in-app {
  height: 45px;
  width: 100%;
  background-color: #67c23a;
  padding: 0 10px;
  box-sizing: border-box;
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  .open-in-app-logo {
    width: 35px;
    height: 35px;
  }
  .open-in-app-btn {
    height: 35px;
    line-height: 35px;
    background-color: deeppink;
    padding: 0 20px;
    color: white;
    text-decoration: none;
  }
}
