<div class="full scroll">
  <div class="responsive">
    <div *ngIf="showOpenInApp" class="open-in-app">
      <img class="open-in-app-logo" src="assets/images/logo_app.png" alt="">
      <span> 在 App 中打开, 体验更佳! </span>
      <a class="open-in-app-btn" [href]="deepLink">打开</a>
    </div>
    <!--    <div style="height: 20px"></div>-->
    <div class="video-player-warp" flex="dir:left">
      <div class="rel" flex-box="1">
        <video #videoElement class="video-player" autoplay playsinline controls>
        </video>
        <div [hidden]="!showNextMask" class="next-mask" flex="dir:top main:center cross:center">
          <app-circle-btn (OnConfirm)="handleConfirmNext()" #circleBtn></app-circle-btn>
          <div class="next-tip">接下来播放 {{ nextTipText }}</div>
        </div>
      </div>
      <app-video-playlist #playListSide [isSide]="true" (OnChange)="playWithIndex($event)"
                          [name]="item.name"
                          [thumbnail]="item.pic"
                          [current]="current"
                          [items]="resources"></app-video-playlist>

    </div>
    <div [hidden]="!loadErr" class="load-err-wrap">
      <button class="load-err-btn" (click)="handleRefresh()">加载失败，点击重试！</button>
    </div>

    <app-video-playlist #playList (OnChange)="playWithIndex($event)"
                        [name]="item.name"
                        [current]="current"
                        [thumbnail]="item.pic"
                        [items]="resources"></app-video-playlist>
    <div class="main-title">《{{ item.name }}》介绍</div>
    <div class="detail-introduction">
      <p class="video-sub-introduce">导演：{{ item.director }}</p>
      <p class="video-sub-introduce">演员：{{ item.actor }}</p>
      <p class="video-sub-introduce">年代：{{ item.year }}</p>
      <p class="video-sub-introduce">
        <span>分类：</span>
        <a [routerLink]="'/type/'+item.label?.id" class="video-classify-name">{{ item.label?.name }}</a>
        &nbsp;&nbsp;&nbsp;
        <span>累计</span>&nbsp;
        <span class="video-number">{{ item.views }}</span>&nbsp;
        <span>次浏览</span>
      </p>
      <p class="video-sub-introduce">简介：{{ item.des }}</p>
    </div>

    <!--<div class="main-title">相关视频</div>-->

    <div id="share" data-wechat-url="https://v.minetime.cn" style="text-align: center; margin-bottom: 20px"></div>
    <div id="gitalk-container"></div>
  </div>
</div>
