.download-list-table {
  width: 100%;
  text-indent: 10px;
  .header {
    background-color: #ded9d9;
    color: #666;
    height: 30px;
    line-height: 30px;
  }
  .item {
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    &:hover {
      background-color: rgb(242, 242, 242);
    }
  }
}

.download-alert {
  background-color: #fef0f0;
  color: #f56c6c;
  border-radius: 4px;
  padding: 8px 16px;
  margin: 10px 0 0 0;
  box-sizing: border-box;
}
.download-option {
  height: 40px;
  line-height: 40px;
  background-color: transparent;
  padding: 10px 0;
  //box-sizing: border-box;
  .download-option-item {
    padding: 0 10px;
    box-sizing: border-box;
    color: #666;
    cursor: pointer;
    &:hover, &.active {
      color: #000;
      background-color: #fff;
    }
  }
}
.downloads-wrap {
  list-style: none;
  margin: 0;
  padding: 10px;
  background-color: #fff;
  .download-item {
    margin-bottom: 10px;
    height: 30px;
    line-height: 30px;
    width: 100%;
    background-color: #EEEEEE;
    border-radius: 4px;
    position: relative;
    .progress-bar, .info-bar {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }
    .progress-bar {
      border-radius: 4px;
      background-image: linear-gradient(90deg, #4E7BF5, #1EECDE);
      z-index: 1;
    }
    .info-bar {
      width: 100%;
      z-index: 2;
      padding: 0 10px;
      box-sizing: border-box;
      .percent {
        font-size: 12px;
        color: #666;
      }
      .name {
        color: #333;
      }
    }
  }
}
