<div class="scroll full">
  <div class="responsive">
    <div class="download-option" flex="dir:left">
      <div [class.active]="tabIndex === 1" (click)="tabIndex = 1" class="download-option-item">正在下载</div>
      <div [class.active]="tabIndex === 2" (click)="tabIndex = 2" class="download-option-item">下载成功</div>
      <div [class.active]="tabIndex === 3" (click)="tabIndex = 3" class="download-option-item">下载失败</div>
    </div>
    <div [hidden]="downloadItems.length !== 0" style="text-align: center; margin: 20px 0;">暂无数据</div>
    <ul class="downloads-wrap">
      <li (click)="handleItemClick(index)" class="download-item" *ngFor="let item of downloadItems; let index = index;">
        <div [style.width]="item.percent + '%'" class="progress-bar">
        </div>
        <div class="info-bar" flex="dir:left">
          <div flex-box="1">
            <span class="iconfont" style="color: yellowgreen; font-size: 16px" [ngClass]="getIconClass(item.state)"></span>
            <span class="name">{{ index + 1 }}. {{ item.name }}</span>
          </div>
          <div class="percent">{{ item.loaded }} / {{ item.total }} | {{ item.percent }} %</div>
        </div>
      </li>
    </ul>
  </div>
</div>
