<div (click)="asideService.switchPack()" [hidden]="asideService.isPackUp" class="mask"></div>
<div class="aside" [style.width]="asideService.isPackUp ? '0' : '240px'">
 <div class="full scroll">
   <div class="aside-item" flex="dir:left cross:center"
        [routerLink]="item.path"
        routerLinkActive="router-active"
        [routerLinkActiveOptions]="{exact: true}"
        *ngFor="let item of asideItems">
     <i class="iconfont" [ngClass]="item.icon"></i>
     <span flex-box="1">{{ item.name }}</span>
   </div>

   <div *ngIf="isElectron" (click)="handleCheckForUpdates()" class="aside-item">
     <i class="iconfont icon-tv"></i>
     <span flex-box="1">
        <span>检查更新</span>&nbsp;
        <span style="font-size: 10px">{{platform}} ({{arch}} v{{currentVersion}})</span>
     </span>
   </div>

 </div>
</div>
