<div class="video-playlist scroll" [class.is-side]="isSide">
  <ul class="video-sources">
    <li (click)="sourceIndex = index" *ngFor="let item of items; let index = index" [class.active]="index === sourceIndex">播放来源 {{ index + 1 }}</li>
<!--    <li (click)="sourceIndex = index" *ngFor="let item of items; let index = index" [class.active]="index === sourceIndex">{{ item.source }}</li>-->
  </ul>
  <ul flex="dir:left" class="video-playlist-wrap">
    <li flex="dir:left" (click)="playWithIndex(i)" [class.active]="sourceIndex === current[0] && i === current[1]" class="video-playlist-item" *ngFor="let curr of resources; let i = index;">
      <img class="video-thumbnail" [src]="pic" alt="">
      <div flex-box="1" flex="dir:top main:justify">
        <div class="video-playlist-name">{{ name }}</div>
        <div flex="dir:left main:justify">
          <span class="video-playlist-tag" flex-box="1">{{ curr.tag }}</span>
          <a href="javascript:void(0);" class="download-btn" *ngIf="isElectron" (click)="handelDoDownload($event, i)">
            <i class="iconfont icon-xiazai"></i>
            下载
          </a>
        </div>
      </div>
    </li>
  </ul>
</div>
