
.scrolling-wrapper {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  height: 40px;
  line-height: 40px;
  > li {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    color: #656565;
    cursor: pointer;
    &.active {
      background-color: #efefef;
      border-radius: 4px;
      color: #FA6F22;
    }
    //background-color: red;
    //margin-left: 20px;
    //width: 200px;
    //float: left;
  }
}
